@font-face {
  font-family: 'Open Sans';
  src: url(/src/fonts/OpenSans-Regular.woff) format('woff');
}

* {
  box-sizing: border-box;
  margin: 0;
}

.wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #4a4a4a;
  min-height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  background-color: #F3F7FA;
}

.header {
  padding-top: 50px;
  text-align: center;
}

.main {
  flex: 1 1 auto;
  display: grid;
  grid-template-areas:
  "filter sorting"
  "filter list";
}

.loading {
  padding: 25px 0 25px 0;
}

@media (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    padding: 0;
  }
  .main {
    grid-template-areas:
    "filter"
    "sorting"
    "list";
  }
}

@media (max-width: 320px) {
  .wrapper {
    padding: 0;
  }
  .main {
    grid-template-areas:
    "filter"
    "sorting"
    "list";
  }
}
